* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

body {
  font-family: poppins, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-gray);
  border-top: 4px solid var(--main-red);
}

footer > p {
  margin: 2rem;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-red);
  box-shadow: 0 2px 0 rgba(0 0 0 / 40%);
  z-index: 10;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

h1,
h2 {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-align: center;
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-red);
}

.project-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-blue);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
  border-radius: 2px;
}

.project-image {
  height: calc(100% 6, 8rem);
  width: 100%;
  object-fit: cover;
}

img {
  display: block;
  width: 100%;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-gray);
}

.contact-link {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.fab {
  font-family: "Font Awesome Brands", sans-serif;
}

.nav-list {
  margin: 0 1rem;
}

@media (max-width: 30.625em) {
  .project-section {
    padding: 6rem 1rem;
  }
}

@media (max-width: 30.625em) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 30.625em) {
  .contact-section-header {
    font-size: 4rem;
  }
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
